<?xml version="1.0"?>
<configuration>
  <!-- 
  Configuration for ELMAH.
  Begin
  -->
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah"/>
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah"/>
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah"/>
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah"/>
    </sectionGroup>
  </configSections>
  <!-- 
  End
  Configuration for ELMAH.
  -->

  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Framework, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.Desktop.Report, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Enterprise.InfoStore, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692FBEA5521E1304"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID">
      <namespaces>
        <clear/>
        <add namespace="System"/>
        <add namespace="System.Collections"/>
        <add namespace="System.Collections.Specialized"/>
        <add namespace="System.Configuration"/>
        <add namespace="System.Text"/>
        <add namespace="System.Text.RegularExpressions"/>
        <add namespace="System.Web"/>
        <add namespace="System.Web.Caching"/>
        <add namespace="System.Web.SessionState"/>
        <add namespace="System.Web.Security"/>
        <add namespace="System.Web.Profile"/>
        <add namespace="System.Web.UI"/>
        <add namespace="System.Web.UI.WebControls"/>
        <add namespace="System.Web.UI.WebControls.WebParts"/>
        <add namespace="System.Web.UI.HtmlControls"/>
      </namespaces>
    </pages>
    <!--<customErrors mode="RemoteOnly" defaultRedirect="~/errorPage.aspx?aspxerrortype=505"/>-->
    <authentication mode="None"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </httpHandlers>
    <httpModules>
      <!--
      Modules for ELMAH
      begin
      -->
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah"/>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah"/>
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>
      <!--
      end
      Modules for ELMAH
      -->
    </httpModules>
    <httpRuntime executionTimeout="290" maxRequestLength="29296"/>
  </system.web>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="AUTH_SITE_URL" value="https://kiosk.filinvest.com.ph/SSO-DEV/Authenticate.aspx?ReturnUrl={0}"/>
    <add key="LOGIN_URL" value="~/Default.aspx"/>
    <add key="DEFAULT_URL" value="~/"/>
  </appSettings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="70000000"/>
        <hiddenSegments/>
      </requestFiltering>
    </security>
    <defaultDocument>
      <files>
        <clear/>
        <add value="dashboard.aspx"/>
      </files>
    </defaultDocument>
    <modules>
      <remove name="ScriptModule-4.0"/>
      <remove name="UrlRoutingModule-4.0"/>
      <add name="ErrorHandlerModule" type="System.Web.Mobile.ErrorHandlerModule, System.Web.Mobile, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="managedHandler"/>
    </modules>
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=10.2.3600.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="ScriptResource.axd_GET,HEAD" path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.xoml_*" path="*.xoml" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.svc_*" path="*.svc" verb="*" type="System.ServiceModel.Activation.HttpHandler, System.ServiceModel, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.asmx_*" path="*.asmx" verb="*" type="System.Web.Services.Protocols.WebServiceHandlerFactory, System.Web.Services, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.rem_*" path="*.rem" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
      <add name="*.soap_*" path="*.soap" verb="*" type="System.Runtime.Remoting.Channels.Http.HttpRemotingHandlerFactory, System.Runtime.Remoting, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" preCondition="integratedMode,runtimeVersionv2.0"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
    <!--<httpErrors errorMode="Custom" existingResponse="Replace" defaultResponseMode="Redirect">
      <clear/>
      <error statusCode="401" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=401" responseMode="Redirect"/>
      <error statusCode="403" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=403" responseMode="Redirect"/>
      <error statusCode="404" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=404" responseMode="Redirect"/>
      <error statusCode="405" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=405" responseMode="Redirect"/>
      <error statusCode="406" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=406" responseMode="Redirect"/>
      <error statusCode="412" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=412" responseMode="Redirect"/>
      <error statusCode="500" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=500" responseMode="Redirect"/>
      <error statusCode="501" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=501" responseMode="Redirect"/>
      <error statusCode="502" path="https://kiosk.filinvest.com.ph/SellersHub-UAT/errorPage.aspx?aspxerrortype=502" responseMode="Redirect"/>
    </httpErrors>-->
    <!--<rewrite>
      <rewriteMaps>
      </rewriteMaps>
      <rules>
        <rule name="User-Friendly" stopProcessing="true">
          <match url="^(?![^/]+?\.(?:css|png|gif|jpg|axd)$)([^/]+)/([^/]+)/([^/]+)/?$"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
          </conditions>
          <action type="Rewrite" url="{R:1}.aspx?Token={R:2}&amp;RequestId={R:3}"/>
        </rule>
      </rules>
    </rewrite>-->
  </system.webServer>
  <location path="Handler.ashx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SellersHUB.axd">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="SellersHUB.axd" type="Elmah.ErrorLogPageFactory, Elmah"/>
      </httpHandlers>
    </system.web>
  </location>
  <!-- 
  Configuration for ELMAH.
  Begin
  -->
  <elmah>
    <security allowRemoteAccess="0"/>
    <errorLog type="Elmah.SQLiteErrorLog, Elmah" connectionStringName="ErrVinx.SQLite"/>
    <errorMail from="donotreply@filinvest.com.ph" to="malvin.reyes@filinvestland.com,armar.veluz@filinvestland.com,nestor.garais@filinvestland.com" cc="beera.serdena@filinvestland.com" bcc="grace.bada@filinvestland.com" priority="high"/>
  </elmah>
  <connectionStrings>
    <clear/>
    <add name="ErrVinx.SQLite" connectionString="Data Source=C:\Site\ErrLogged\ErrSellersHub-UAT.s3db"/>
    <!--<add name="ErrVinx.SQLite" connectionString="Data Source=C:\Site\ErrLogged\ErrSellersHub-PROD.s3db" />-->
    <!--<add name="ErrVinx.SQLite" connectionString="Data Source=D:\Users\malvinvr\Desktop\ELMAH\samples\ErrSellersHub.s3db" />-->
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network host="host81.pinehost.net" port="587"/>
      </smtp>
    </mailSettings>
  </system.net>
  <!--<system.web>
    <trace enabled="true" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" culture="en-US" />
    <trust level="Full" />
  </system.web>-->
  <!-- 
  End
  Configuration for ELMAH.
  -->
</configuration>